body {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 744px;
  height: 990px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4), -2px -2px 5px rgba(0, 0, 0, 0.4);
  background-image: url('imgs/background.jpg');
  background-size: cover;
  background-position: 50% 100%;
}

.location {
  position: absolute;
  top: -15px;
  right: 20px;
  font-family: 'Francois One', sans-serif;
  color: #505448;
}

.top {
  flex: 0.2;
}

.bottom {
  flex: 1;
}

.left {
  flex: 0.8;
}

.right {
  flex: 1.2;
  padding: 20px;
  padding-top: 0;
  padding-bottom: 0;
}

.top {
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: relative;
}

.top > img {
  border-radius: 100%;
  height: 80%;
}

.top > .nameContainer {
  font-family: 'Francois One', sans-serif;
  align-self: flex-start;
  padding-top: 20px;
  color: #505448;
}

.nameContainer > h1 {
  font-size: 3rem;
  line-height: 2rem;
  padding-top: 30px;
  margin-left: 15px;
  margin-bottom: 20px;
  white-space: nowrap;
}

.nameContainer > h4 {
  font-size: 1.2rem;
  font-family: 'Quicksand', sans-serif;
  text-align: right;
  margin: 10px 0;
  padding-right: 20px;
  color: #5c6076;
}

.contact {
  position: absolute;
  bottom: 1rem;
  right: 5rem;
  width: 300px;
  height: 100px;
  display: flex;
  flex-direction: column;
  color: #505448;
  margin-bottom: 10px;
}

.contact > * {
  margin-bottom: 5px;
}

.contact > .fas::before,
.contact > .fab::before {
  padding-right: 10px;
}

.contact span,
.contact a {
  font-family: 'Quicksand', sans-serif;
  font-weight: normal;
  color: #5c6076;
  text-decoration: none;
}

.bottom {
  display: flex;
  background-image: none !important;
  background-color: white;
}

.left {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: space-around; */
  padding-left: 20px;
}

.left > * {
  width: 90%;
}

.bocadillo {
  /* background-color: #f7f2e4; */
  border-radius: 10px;
  padding: 10px;
  opacity: 0.9;
  color: #505448;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  font-family: 'Big Shoulders Display', cursive;
}

.bocadillo > h4 {
  margin: 0;
  font-family: 'Francois One', sans-serif;
  /* text-align: center; */
  margin-right: 15px;
  width: 100%;
  border-bottom: 3px solid pink;
  font-size: 1.5rem;
}

.bocadillo.aboutMe > p {
  margin: 5px;
}

.bocadillo ul {
  padding: 0;
  list-style-type: none;
  margin: 5px;
  width: 95%;
}

.bocadillo ul li {
  padding: 2px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 0;
}

.bocadillo.skills {
  padding-top: 2px;
}

.bocadillo.otherSkills {
  padding-top: 0;
}

.skillTitle {
  margin: 0;
}

.skillLevelContainer {
  width: 60%;
  height: 20px;
  background-color: #505448;
  border: 1px solid #505448;
  border-radius: 20px;
}

.skillLevel {
  width: 100%;
  height: 100%;
  background-color: pink;
  border-radius: 20px;
}

.skillLevel.lvl6 {
  width: 69%;
}
.skillLevel.lvl7 {
  width: 85%;
}
.skillLevel.lvl8 {
  width: 89%;
}
.skillLevel.lvl9 {
  width: 95%;
}

.experienceContainer {
  padding-top: 3px;
}

.experienceContainer > h6 {
  margin: 7px 0;
  font-size: 1.3rem;
  padding-left: 5px;
}

.experienceContainer > p {
  margin: 0;
  text-align: justify;
  padding-right: 20px;
}

.experienceCompany {
  color: #e3a6b0;
  font-size: 1.4rem;
}

.experienceContainer.first {
  margin-top: 7px;
}

.experienceDate {
  font-size: 1.1rem;
}

.educationContainer {
  margin: 5px 0;
}

.educationContainer > h6 {
  margin: 0;
  font-size: 0.85rem;
}

.educationUniversity,
.educationYears {
  color: #e3a6b0;
}
